/*CSS Style sheet */
@font-face {
  font-family: Crete;
  src: url(../fonts/CreteRound-Regular.ttf);
}

body {
  padding: 4rem;
  /* border:  solid white !important; */
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

h1,
h2 {
  font-family: "Cabin";
  text-align: right;
  z-index: 1;
}

h1 {
  font-size: 5rem !important;
}

h2 {
  font-size: 40px !important;
  color: #6f6f6f;
  padding-top: 10px;
}

p {
  font-family: "Cabin";
  font-size: 20px !important;
  position: fixed;
  bottom: 70px;
  color: #556b59;
  width: 240px;
}

a {
  text-decoration: none;
  text-decoration: #ea0000;
}

h2:hover {
  color: black;
  text-decoration: none;
}

img {
  height: 75vh;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /* transform: translate(-50%, -50%); */
  /* filter: drop-shadow(0 0 1px black); */
}

.screen {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left {
  justify-content: baseline;
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.right {
  flex: 1;
  align-items: end;
}

@media only screen and (max-width: 1150px) {
  /* For mobile phones: */
  img {
    display: none;
  }
}
