@font-face {
  font-family: Crete;
  src: url(../fonts/CreteRound-Regular.ttf);
}

.cabin-thin {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cabin-normal {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cabin-thick {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.cabin-bold {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  padding: 4rem;
}

.screen {
  display: flex;
}

.left {
  flex: 4;
}
.right {
  font-family: "Cabin";
  flex: 1;
  justify-content: end;
  text-align: right;
}

.right a {
  text-decoration: none;
  color: #6f6f6f;
}

h1 {
  margin-top: 0;
  text-align: left;
  font-size: 4rem;
  color: #476243;
}
