<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/public/css/style-global.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="screen">
        <div class="left">
            {{ content | safe }}
        </div>

        <div class="right">
            <a href="/">
                <h2>home</h2>
            </a>
            <a href="/projects">
                <h2>projects</h2>
            </a>
            <a href="/posts">
                <h2>blog</h2>
            </a>
            <a href="/about">
                <h2>about</h2>
            </a>
            <a href="/contact">
                <h2>contact</h2>
            </a>
        </div>


    </div>

    <script src="/public/widgets.js"></script>
</body>
</html>